font-family: 'Shrikhand', cursive;
font-family: 'Lobster', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Passion One', cursive;
font-family: 'Archivo Black', sans-serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Rubik One', sans-serif;
font-family: 'Bungee Shade', cursive;
font-family: 'Gravitas One', cursive;
font-family: 'Ubuntu Mono', monospace;


/*!
Styles for full screen background video demo
*/
/* =============================================================================
  RESETS
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Fjalla One";
  line-height: 1.5;
}
/* =============================================================================
  CONTENT
============================================================================= */
.content {
  position: relative;
  top: 63%;
  z-index: 2;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.content__heading {
  margin-bottom: 24px;
  color: navajowhite;
  font-size: 44px;
  text-shadow: 3px 3px 14px black;
}

.sub-brand {
    font-size: 38px;
    font-weight: 600;
    color: white;
    text-shadow: 3px 3px 14px black;
}

.content__teaser {
  margin-bottom: 24px;
  color: #595959;
  font-size: 22px;
}

.content__cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  background-color: white;
  font-size: 22px;
  text-decoration: none;
  color: black;
}

.content__cta:hover {
    background-color: #a31e22;
    color: white;
}

/* =============================================================================
  VIDEO
============================================================================= */
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media(max-width:768px) {
    .content {
        top: 50%;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  video { display: none }
  body {
      background: url('../img/crosses.jpg') no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%; 
      height: auto;
      z-index: -1;
  }
    /* show it on small screens */
}

